.nav-button {
    border: none;
    color: white;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-height: 50px;
    min-width: 150px;
    width: 20%;
}

.nav-inactive:hover {
  background-color: #222255; /* dark blue */
  color: white;
}

.nav-active:hover {
  background-color: #ee8800;    /* dark orange */
  color: white;
}

.nav-inactive {
    background-color: #333f71; /* maker blue */
}

.nav-active {
    background-color: #ff9900; /* maker orange */
}

.button {
    background-color: #333f71; /* maker blue */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
  background-color: #222255; /* dark blue */
}

.disabled-button {
    background-color: #666666; /* dark grey */
}

.disabled-button:hover {
    background-color: #666666; /* dark grey */
}

.big-button {
    padding: 10px 10px;
    width: 100%;
}

.clipboard-button {
    padding: 3px 3px;
    margin: 3px;
    font-size: 12px;
}

.required-field-flag {
    color: #ff0000;
}

.container {
    display: grid;
}

.container-nav {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:1;

}

.container-sidebar-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end:3;
}

.container-sidebar-right {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:3;
}

.container-page {
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}

.job-section-text {
    width: 100%;
}

.scan-result {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.scan-result-score {
    font-size: 48px;
}

input {
    border-width: 1px;
    border-radius: 3px;
}

textarea {
    border-radius: 5px;
    resize: none;
}