.button {
    background-color: #333f71; /* maker blue */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
  background-color: #222255; /* dark blue */
}

.disabled-button {
    background-color: #666666; /* dark grey */
}

.disabled-button:hover {
    background-color: #666666; /* dark grey */
}

.big-button {
    padding: 15px 10px;
    width: 80%;
}

.clipboard-button {
    padding: 3px 3px;
    margin: 3px;
    font-size: 12px;
}

.required-field-flag {
    color: #ff0000;
}

.container {
    display: grid;
    height: 1080px;
    overflow: hidden;
    grid-template-columns: [first] 200px [line2] 50px [line3] auto [col4-start] 50px [five] 250px [end];
}

.container-sidebar-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 5;
}

.container-sidebar-right {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:5;
}

.container-page {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:5;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.scanned-job-description {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    
    margin-top: 2px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 0px;

    white-space: pre-wrap;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;

}

.job-section-text {
    width: 95%;
    white-space: pre-wrap;
}

.scan-result-container {
    padding: 5px;
    min-height: 175px;
    overflow: hidden
}

.scan-result-score-container {
    float: left;
    width: 15%;

    padding-left: 5px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 2px;

    background: #EEEEEE;
}

.scan-result-score {
    font-size: 72px;
    display: block;
    min-height: 90px;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
}

.score-good {
    background: #AAF5AA;
}

.score-neutral {
    background: #EEEEEE;
}

.score-bad {
    background: #FFAAAA;
}

.scan-result-label {
    font-size: 18px;
    display: block;
    min-height: 50px;
    margin-right: 10px;
}

input {
    border-width: 1px;
    border-radius: 3px;
}

textarea {
    border-radius: 5px;
    resize: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

.modal-content-settings {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

.modal-content-tailoring {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.modal-content-sections {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.missing-keyword-minimum {
    background: #FFAAAA;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF8888;
    border-radius: 3px;
}

.missing-keyword-preferred {
    background: #FFDDDD;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFCCCC;
    border-radius: 3px;
}

.missing-keyword-duties {
    background: #FFFFAA;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #EEEE88;
    border-radius: 3px;
}

.missing-keyword-company {
    background: #BBBBBB;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    border-radius: 3px;
}

.missing-keyword-regular {
    background: #CCCCCC;
    padding: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    border-radius: 3px;
}