.button {
    background-color: #333f71; /* maker blue */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button:hover {
  background-color: #222255; /* dark blue */
}

.disabled-button {
    background-color: #666666; /* dark grey */
}

.disabled-button:hover {
    background-color: #666666; /* dark grey */
}

.big-button {
    padding: 15px 10px;
    width: 150px;
}

.clipboard-button {
    padding: 3px 3px;
    margin: 3px;
    font-size: 12px;
}

.required-field-flag {
    color: #ff0000;
}

.container {
    display: grid;
    height: 1080px;
    overflow: hidden;
    grid-template-columns: [first] 300px [line2] 50px [line3] auto [col4-start] 50px [five] 400px [end];
}

.container-sidebar-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.container-sidebar-right {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:3;
}

.container-page {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.job-section-text {
    width: 95%;
}

.scan-result {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.scan-result-score {
    font-size: 36px;
    padding: 3px;
    margin: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

input {
    border-width: 1px;
    border-radius: 3px;
}

textarea {
    border-radius: 5px;
    resize: none;
}